.image-bg {
  background-image: url("./assets/index_2_bg.png");
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 96%;
  margin: 0 auto;
  background-repeat: repeat-x;
  box-sizing: border-box;
}
.image-bg .logo-content {
  padding-top: 1rem !important;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
}
.logo {
  background-color: #f19a2a;
  width: 2rem;
  height: 0.8rem;
  margin-bottom: 8%;
}
.logo-text {
  color: #ffffff;
  font-family: "VAGRoundedforBEC_1pxp";
  font-size: 15px;
}

.slogan {
  font-size: clamp(24px, 5vw, 40px);
  font-weight: 700;
  line-height: clamp(30px, 6vw, 40px);
  color: #fad073;
  padding-top: clamp(10px, 2vw, 20px);
  font-family: "VAGRoundedStd_Bold";
  text-shadow: 1px 4px #000000bf;
  width: clamp(250px, 50vw, 400px);
}

.image-section img {
  height: clamp(160px, 4vw, 200px);
}

.image-section .text-bold {
  font-family: "VAGRoundedStd_Bold";
  font-weight: bold;
  width: 70%;
  text-shadow: 1px 4px #e7e2e2bf;
  color: #23408f;
}
@media (max-width: 992px) {
  .image-section .text-bold {
    width: 100%;
  }
}

#rightAccordion,
#leftAccordion {
  border-radius: 8px;
  border: 1px solid #dee9f7;
  background-color: #f0f7ff;
  width: 100%;
}
#leftAccordion .accordion-button {
  font-weight: 700;
  font-size: clamp(1rem, 2vw, 1.4rem);
  font-family: VAGRoundedStd_Bold;
}

#rightAccordion .accordion-button {
  color: #23408f;
  font-weight: 500;
  font-size: clamp(1rem, 2vw, 1.4rem);
  font-family: VAGRoundedStd_Bold;
}
